/* src/components/Board/Board.css */
.board-container {
  width: 100%;
  overflow-x: auto; /* Добавляем горизонтальную прокрутку */
  padding-bottom: 15px; /* Место для скроллбара */
  margin-top: 30px;
}

.columns-container {
  display: flex;
  min-width: min-content; /* Гарантирует, что контейнер не будет меньше суммы ширин колонок */
}