.task-card{
    display: flex;
    text-align: start;   
    background-color: white;
    width: 210px;
    color: #2F5487;
    height: fit-content;
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
}
.task-card:hover {
    outline: 1px solid #2F5487;
}

.taskcard-title {
    font-weight: 400;
    width: 170px;
}

input{
    margin: 0px;
}
