.task-card{
    text-align: center;
    background-color: #8EBCFE;
    width: 180px;
    height: fit-content;
    font-size: 14px;
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 10px;
}

.task-card:hover {
    outline: 1px solid white;
}