body {
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh; /* Чтобы body занимал всю высоту экрана */
  }

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    background-color: rgb(118, 192, 249);
}