
/* src/pages/projectPage/ProjectPage.css */
.project-page {
  margin-left: 50px; /* По умолчанию с учетом свернутой боковой панели */
  margin-right: 50px;
  transition: margin-left 0.3s ease; /* Плавный переход для смещения */
  width: calc(100% - 100px); /* По умолчанию для свернутой панели */
  overflow-x: hidden;
}

/* Стиль при развернутой боковой панели */
.project-page.sidebar-expanded {
  margin-left: 300px;
  width: calc(100% - 350px); /* 300px боковая панель + 50px отступ справа */
}



/* Стиль для кнопки "Назад к доскам" */
.back-button-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.action-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  font-weight: 400;
  color: #2F5487;
  border: 1px solid #2F5487;
  border-width: 0px 0px 1px 0px;
  position: sticky;
  top: 60px; /* Высота header */
  background-color: white;
  z-index: 5;
}
.action-bar-title{
  margin-left: 50px;
}

.action-bar-controls {
  margin-right: 50px;
  display: flex;
  align-items: center;
  position: relative; /* Добавлено для позиционирования выпадающего списка */
}

.filter-button {
  background-color: #8EBCFE;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 8px 15px;
  font-family: 'Montserrat';
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s;
  display: flex;
  align-items: center;
}

.filter-button:hover {
  background-color: #5795ED;
}

.filter-active {
  background-color: #5795ED;
}

.filter-badge {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
  margin-left: 5px;
}

.back-button {
  margin-top: 10px;
}