.project-page {
    margin-left: 50px;
    margin-right: 50px;
}

.action-bar {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    font-weight: 400;
    color: #2F5487;
    border: 1px solid #2F5487;
    border-width: 0px 0px 1px 0px;
}

.action-bar-title{
    margin-left: 50px;
}