.standart-button {
    width: 180px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #5795ED; /* синий цвет */
    color: white; /* белый текст */
    text-align: center; /* текст посередине */
    border-radius: 10px; /* скругление 10 */
    border: none; /* убираем стандартную рамку */
    cursor: pointer; /* курсор-указатель при наведении */
    font-size: 14px; /* размер шрифта */
    transition: background-color 0.3s ease; /* плавное изменение цвета */
    margin-bottom: 10px;
  }
  
  .standart-button:hover {
    background-color: #8EBCFE; /* светлеет при наведении */
  }