.project-card {
    text-align: center;
    padding: 20px;
    max-width: fit-content;
    background-color: #8EBCFE;
    border-radius: 10px;
    color: white;
}

.title-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 16px;
}